<div class="filter-overlay">
    <div class="filter-overlay__underlay js-filter-toggler"></div>
    <div class="filter-overlay__modal">
        <div class="filter-overlay__inner">
            <form class="filter-overlay__form">
                <div class="filter-overlay__header">
                    <div class="filter-overlay__title">Фильтр</div>
                    <div class="filter-overlay__close js-filter-toggler"></div>
                </div>
                <div class="filter-overlay__body">
                    <fieldset class="filter-overlay__fieldset">
                        <!--=include ./filter/price.html -->
                    </fieldset>
                    <fieldset class="filter-overlay__fieldset">
                        <!--=include ./filter/brand.html -->
                    </fieldset>
                    <fieldset class="filter-overlay__fieldset">
                        <!--=include ./filter/season.html -->
                    </fieldset>
                    <fieldset class="filter-overlay__fieldset">
                        <!--=include ./filter/size.html -->
                    </fieldset>
                    <fieldset class="filter-overlay__fieldset">
                        <!--=include ./filter/color.html -->
                    </fieldset>
                    <fieldset class="filter-overlay__fieldset">
                        <!--=include ./filter/matherial.html -->
                    </fieldset>
                </div>
                <div class="filter-overlay__footer">
                    <button type="submit" class="filter-overlay__button button button_dark">Применить</button>
                    <button type="reset" class="filter-overlay__button button button_linear">Сбросить</button>
                </div>
            </form>
        </div>
    </div>
</div>