<!-- 

Если этот компонент выводится на полную ширину страницы,
например, в каталоге, то .products-list должен иметь
дополнительный класс-модификатор .products-list_full
(плитки товара будут выводиться в четыре колонки).

Если этот компонент выводится в основной колонке страницы,
но сбоку есть сайдбар с меню (например, в личном кабинете),
то этот блок должен иметь дополнительный класс-модификатор
.products-list_wide (товары в три колонки).

-->

<div class="products-list products-list_wide">
    <div class="products-list__item">
        <!--=include product-card.html -->
    </div>
    <div class="products-list__item">
        <!--=include product-card.html -->
    </div>
    <div class="products-list__item">
        <!--=include product-card.html -->
    </div>
    <div class="products-list__item">
        <!--=include product-card.html -->
    </div>
    <div class="products-list__item">
        <!--=include product-card.html -->
    </div>
    <div class="products-list__item">
        <!--=include product-card.html -->
    </div>
    <div class="products-list__item">
        <!--=include product-card.html -->
    </div>
    <div class="products-list__item">
        <!--=include product-card.html -->
    </div>
</div>