<div class="product-card">
    <div class="product-card__inner">
        <div class="product-card__thumbnail">
            <a class="product-card__overlay-link" href="product.html"></a>
            <div class="product-card__labels sticky-labels">
                <div class="sticky-labels__label sticky-labels__label_red">-10%</div>
                <div class="sticky-labels__label sticky-labels__label_blue">NEW</div>
            </div>
            <div class="product-card__gallery">
                <!--=include product-card-gallery.html -->
            </div>
            <div class="product-card__eye-toggler">
                <button class="header__button icon-button icon-button_eye-closed icon-button_dark icon-button_semi-transparent"></button>
                <!-- <button class="header__button icon-button icon-button_eye icon-button_dark"></button> -->
            </div>
        </div>
        <div class="product-card__info">
            <div class="product-card__brand">
                <a class="product-card__transparent-link" href="product.html">NEW BALANCE</a>
            </div>
            <div class="product-card__model">
                <a class="product-card__transparent-link" href="product.html">Кроссовки женские 574</a>
            </div>
            <div class="product-card__buttons">
                <div class="header__button icon-button icon-button_bookmark icon-button_beige"></div>
                <!-- <div class="header__button icon-button icon-button_bookmark icon-button_blue"></div> -->
                <div class="header__button icon-button icon-button_pen icon-button_dark"></div>
            </div>
        </div>
        <div class="product-card__footer">
            <div class="product-card__row">
                <div class="product-card__section">
                    <div class="product-card__prices-wrapper">
                        <div class="product-card__price product-card__price_default price price_rub">5 250</div>
                    </div>
                    <div class="product-card__colorpicker">
                        <div class="product-card__color" style="background-color: red;" title="Красный"></div>
                        <div class="product-card__color" style="background-color: violet;" title="Фиолетовый"></div>
                        <div class="product-card__color" style="background-color: black;" title="Черный"></div>
                    </div>
                </div>
                <div class="product-card__button-wrapper">
                    <button class="product-card__button button button_beige">В корзину</button>
                    <!-- <button class="product-card__button button button_linear">В корзине</button> -->
                </div>
            </div>
        </div>
        <div class="product-card__show-on-hover">
            <div class="product-card__inline-check-list">
                <!--=include ../inline-check-list.html -->
            </div>
            <div class="product-card__footer">
                <div class="product-card__row">
                    <div class="product-card__section">
                        <div class="product-card__prices-wrapper">
                            <div class="product-card__price product-card__price_actual price price_rub">5 250</div>
                            <div class="product-card__price product-card__price_linethrough price price_rub">5 250</div>
                        </div>
                    </div>
                    <div class="product-card__button-wrapper">
                        <button class="product-card__button button button_linear">Купить в 1 клик</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>