<div class="product-card-gallery">
    <div class="product-card-gallery__container">
        <div class="product-card-gallery__wrapper">
            <div class="product-card-gallery__item">
                <div class="product-card-gallery__photo" style="background-image: url(https://a.lmcdn.ru/product/R/T/RTLADP482301_24358559_1_v1.jpg);"></div>
            </div>
            <div class="product-card-gallery__item">
                <div class="product-card-gallery__photo" style="background-image: url(https://a.lmcdn.ru/product/R/T/RTLADP482301_24358560_2_v1.jpg);"></div>
            </div>
            <div class="product-card-gallery__item">
                <div class="product-card-gallery__photo" style="background-image: url(https://a.lmcdn.ru/product/R/T/RTLADP482301_24358561_3_v1.jpg);"></div>
            </div>
            <div class="product-card-gallery__item">
                <div class="product-card-gallery__photo" style="background-image: url(https://a.lmcdn.ru/product/R/T/RTLADP482301_24358562_4_v1.jpg);"></div>
            </div>
            <div class="product-card-gallery__item">
                <div class="product-card-gallery__photo" style="background-image: url(https://a.lmcdn.ru/product/R/T/RTLADP482301_24358563_5_v1.jpg);"></div>
            </div>
        </div>
    </div>
</div>