<div class="products-slider">
    <div class="products-slider__wrapper">
        <div class="products-slider__slide">
            <!--=include product-card.html -->
        </div>
        <div class="products-slider__slide">
            <!--=include product-card.html -->
        </div>
        <div class="products-slider__slide">
            <!--=include product-card.html -->
        </div>
        <div class="products-slider__slide">
            <!--=include product-card.html -->
        </div>
        <div class="products-slider__slide">
            <!--=include product-card.html -->
        </div>
        <div class="products-slider__slide">
            <!--=include product-card.html -->
        </div>
        <div class="products-slider__slide">
            <!--=include product-card.html -->
        </div>
        <div class="products-slider__slide">
            <!--=include product-card.html -->
        </div>
    </div>
</div>