<div class="promo-page-grid">
    <div class="promo-page-grid__item promo-page-grid__item_horizontal">
        <div class="promo-page-grid__banner">
            <!--=include ./banner.html -->
        </div>
    </div>
    <div class="promo-page-grid__item promo-page-grid__item_vertical">
        <div class="promo-page-grid__banner">
            <!--=include ./banner.html -->
        </div>
    </div>
    <div class="promo-page-grid__item promo-page-grid__item_small">
        <div class="promo-page-grid__banner">
            <!--=include ./banner.html -->
        </div>
    </div>
    <div class="promo-page-grid__item promo-page-grid__item_small">
        <div class="promo-page-grid__banner">
            <!--=include ./banner.html -->
        </div>
    </div>
</div>