.back-button-row {

    &__link {
        position: relative;
        padding-left: 42px;
        font-size: 12px;
        text-decoration: none;
        color: $dark;

        > span {
            text-decoration: underline;
        }

        &::before {
            content: '←';
            position: absolute;
            left: 0;
            top: 50%;
            font-size: 170%;
            font-weight: 100;
            transform: translateY(-50%);
        }
    }
}