.catalog-page {

    &__header {
        border-bottom: 1px solid $beige;

        @include to($sm) { /////!!!!!
            padding-bottom: 50px;
            margin-bottom: 42px;
        }
        
        @include between($sm, $xl) {
            padding-bottom: calc(50px * 0.75);
            margin-bottom: calc(42px * 0.75);
        }
        
        @include from($xl) {
            padding-bottom: 50px;
            margin-bottom: 42px;
        }
    }

    &__description {
        @include from($lg) {
            width: 75%;
        }
    }

    &__cover {
        background-color: $lightgray;
        background-position: center;
        background-size: cover;

        @include to($sm) { /////!!!!!
            padding-top: 250px;
        }
        
        @include between($sm, $xl) {
            padding-top: calc(250px * 0.75);
        }
        
        @include from($xl) {
            padding-top: 250px;
        }
    }

    &__settings-row {
        display: flex;
        justify-content: space-between;
        align-content: center;

        @include to($sm) {
            margin: 0 -10px;
            margin-top: 20px;
            margin-bottom: 16px;
        }
        
        @include between($sm, $xl) {
            margin-top: calc(28px * 0.75);
            margin-bottom: calc(47px * 0.75);
        }
        
        @include from($xl) {
            margin-top: 28px;
            margin-bottom: 47px;
        }
    }

    &__order-by {
        width: 180px;
    }

    &__footer {
        @include to($sm) { /////!!!!!
            margin-top: 80px;
        }
        
        @include between($sm, $xl) {
            margin-top: calc(80px * 0.75);
        }
        
        @include from($xl) {
            margin-top: 80px;
        }
    }
    
    &__pagination {
        
    }
}