.dashboard-head-filter {
    &__row {
        display: flex;
        align-items: center;

        @include from($sm) {
            border: 1px solid $beige;
            padding: 16px;
        }
    }

    &__column {

        & + & {

            @include between($sm, $xl) {
                margin-left: calc(36px * 0.75);
            }

            @include from($xl) {
                margin-left: 36px;
            }
        }

        &_subtitle {

            @include to($sm) {
                margin-right: 12px;
                margin-left: auto;
                order: 2;
            }

            @include from($sm) {
                padding: 0 24px;
            }
        }
        
        &_search {
            @include to($sm) {
                display: none;
            }

            @include from($sm) {
                margin-right: auto;
            }
        }

        &_search-mobile {
            @include to($sm) {
                margin-right: auto;
                order: 3;
            }

            @include from($sm) {
                display: none;
            }
        }

        &_order-by {
            @include to($sm) {
                order: 1;
            }
        }

        &_filter {
            @include to($sm) {
                order: 4;
            }
        }
    }

    &__subtitle {
        @include to($sm) {
            padding: 0 14px;
            height: 32px;
            line-height: 32px;
            border: 1px solid $dark;
        }
    }

    &__search {
        display: block;
        width: 100%;
        outline: none;
        border: 1px solid $lightgray;
        border-radius: 0;
        appearance: none;
        font-family: $base_font;
        box-sizing: border-box;

        @include to($sm) { /////!!!!!
            height: 32px;
            line-height: 32px;
            padding: 0 22px;
            font-size: 14px;
        }
        
        @include between($sm, $xl) {
            height: calc(32px * 0.75);
            line-height: calc(32px * 0.75);
            padding: 0 calc(22px * 0.75);
            font-size: calc(14px * 0.75);
        }
        
        @include from($xl) {
            height: 32px;
            line-height: 32px;
            padding: 0 22px;
            font-size: 14px;
        }
    }

    &__button {
        display: block;
        width: 34px;
        height: 34px;
        border: 1px solid $dark;

        &_search {
            background: url(../images/icon-search.svg) center no-repeat;
            background-size: 20px;
        }
    }

}