.footer {
    position: relative;
    margin-top: auto;

    &::before {
        content: '';
        display: block;
    }
    
    @include to($sm) { /////!!!!!
        padding: calc(36px + 22px) 0 28px;

        &::before, &::after {
            margin-top: 110px;
        }
    }
    
    @include between($sm, $xl) {
        padding: calc((36px + 22px) * 0.75) 0 calc(28px * 0.75);

        &::before, &::after {
            margin-top: calc(110px * 0.75);
        }
    }
    
    @include from($xl) {
        padding: calc(36px + 22px) 0 28px;

        &::before, &::after {
            margin-top: 110px;
        }
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: url('../images/osnova_pattern.svg') center repeat-x, linear-gradient(90deg, #d0d0d0 0%, #e8e8e8 25%, #c0c0c0 50%, #e8e8e8 75%, #d0d0d0 100%) repeat-x;
        background-size: auto, 100px;


        @include to($sm) { /////!!!!!
            height: 22px;
        }
        
        @include between($sm, $xl) {
            height: calc(22px * 0.75);
        }
        
        @include from($xl) {
            height: 22px;
        }
    }

    &__subtitle {
        font-weight: bold;
        text-transform: uppercase;

        @include to($sm) {
            font-size: 18px;
            margin-bottom: 32px;
        }
        
        @include between($sm, $xl) {
            font-size: calc(16px * 0.75);
            margin-bottom: calc(12px * 0.75);
        }
        
        @include from($xl) {
            font-size: 16px;
            margin-bottom: 12px;
        }
    }

    &__row {
        position: relative;
        
        @include from($sm) {
            display: flex;
            align-items: flex-start;
        }

        & + & {
            
            @include to($sm) { /////!!!!!
                margin-top: 40px;
            }
            
            @include between($sm, $xl) {
                margin-top: calc(40px * 0.75);
            }
            
            @include from($xl) {
                margin-top: 40px;
            }
        }
    }

    &__column {
        @include to($sm) {

            &_main-menu {
                margin: 36px -20px 0;
                padding: 62px 20px 0;
                border-top: 1px solid $beige;
            }

            &_aside-menu {
                margin: 0 -20px;
                padding: 52px 20px 0;
            }
        }

        @include from($sm) {
            &_subscribe {
                width: calc(610px / (1440px - 28px - 28px) * 100%);
                margin-right: calc(90px / (1440px - 28px - 28px) * 100%);
                align-self: flex-end;
            }
    
            &_main-menu {
                width: calc(420px / (1440px - 28px - 28px) * 100%);
                margin-right: calc(40px / (1440px - 28px - 28px) * 100%);
            }
    
            &_aside-menu {
                width: calc((1440px - 28px - 28px - 610px - 90px - 420px - 40px) / (1440px - 28px - 28px) * 100%);
            }
        }

        &_copyright {
            text-align: left;
        }

        &_social-links {
            margin-left: auto;
            text-align: right;

            @include to($sm) {
                float: right;
                margin-top: -40px;
                margin-right: -10px;
            }
        }
    }

    &__copyright {
        @include to($sm) { /////!!!!!
            font-size: 12px;
        }
        
        @include between($sm, $xl) {
            font-size: calc(12px * 0.75);
        }
        
        @include from($xl) {
            font-size: 12px;
        }
    }

}