.header-mini-search {
    cursor: pointer;

    &__form {
        
    }

    &__input {
        display: block;
        width: 100%;
        outline: none;
        border: 1px solid $lightgray;
        border-radius: 0;
        appearance: none;
        font-family: $base_font;
        box-sizing: border-box;
        color: #ded9cf;

        @include to($xl) {
            display: none;
        }
        
        @include from($xl) {
            height: 32px;
            line-height: 32px;
            padding: 0 22px;
            font-size: 14px;
        }
    }

    &__button {
        @include to($xl) {
            display: block;
        }
        
        @include from($xl) {
            display: none;
        }
    }
}