.header-horizontal-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;

    @include to($sm) { /////!!!!!
        height: 38px;
    }
    
    @include between($sm, $xl) {
        height: calc(38px * 0.75);
    }
    
    @include from($xl) {
        height: 38px;
    }

    &__item {
        padding: 0;
        margin: 0;

        @include from($sm) {
            &_active {
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 100%;
                    margin-top: 5px;
                    height: 8px;
                    background-image: url(/images/menu-active-line.jpg);
                }
            }
        }

        & + & {
            @include to($sm) { /////!!!!!
                margin-left: 55px;
            }
            
            @include between($sm, $xl) {
                margin-left: calc(55px * 0.75);
            }
            
            @include from($xl) {
                margin-left: 55px;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: $dark;

        @include to($sm) { /////!!!!!
            font-size: 18px;
        }
        
        @include between($sm, $xl) {
            font-size: 14px;
        }
        
        @include from($xl) {
            font-size: 18px;
        }
    }
}