.mobile-header-dropdown {
    height: calc(100vh - 79px);
    overflow-y: scroll;

    &__login-wrapper {
        padding: 18px 25px;
    }

    &__login-link {
        position: relative;
        font-size: 12px;
        color: #5c5c5c;
        text-decoration: none;
        border-bottom: 1px solid #5c5c5c;
        line-height: 1;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
            margin-left: 10px;
            width: 20px;
            height: 20px;
            mask-size: 100% 100%;
            mask-image: url('../images/icon-login.svg');
            background-color: $beige;
        }
    }
}