.orders-list {

    &__item {

        & + & {
            border-top: 1px solid $beige;
        }

        @include to($sm) {
            padding: 16px 20px;
            margin: 0 -20px;
        }

        @include from($sm) {
            padding: 24px 0;
        }
    }
}