.order-preview-row {

    @include to($sm) {
        font-size: 14px;
    }
    
    @include between($sm, $xl) {
        font-size: calc(14px * 0.75);
    }
    
    @include from($xl) {
        font-size: 14px;
    }

    &__row {
        @include to($sm) {
            position: relative;
            margin-right: 50px;

            &::after {
                content: "";
                position: absolute;
                top: 10px;
                right: -35px;
                margin-top: -1px;
                width: 8px;
                height: 8px;
                border-bottom: 1px solid $dark;
                border-left: 1px solid $dark;
                transition: all 0.2s ease;
                transform: translateY(-55%) rotate(-45deg);
            }
        }

        @include from($sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    @include to($sm) {
        &_opened &__row::after {
            transform: translateY(15%) rotate(135deg);
        }
    }

    &__column {

        &_info {
            
        }

        &_products {
            
        }
    }

    &__head-line {
        position: relative;
        padding-left: 14px;

        @include to($sm) {
            margin-bottom: 12px;
            margin-right: -50px;
        }
        
        @include from($sm) {
            margin-bottom: 8px;
        }
    }

    &__title {
        font-weight: bold;
        text-transform: uppercase;

        @include to($sm) { /////!!!!!
            font-size: 16px;
        }
        
        @include between($sm, $xl) {
            font-size: calc(16px * 0.75);
        }
        
        @include from($xl) {
            font-size: 16px;
        }
    }

    &__status {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -2px;
        width: 4px;
        height: 4px;
        border-radius: 50%;

        &_red {
            background-color: $red;
        }

        &_green {
            background-color: #45c300;
        }

        &_dark {
            background-color: $dark;
        }
    }

    &__info-line {
        @include to($sm) {
            margin-bottom: 12px;
        }
        
        @include from($sm) {
            margin-bottom: 8px;
        }

        > span {
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    &__date {
        @include to($sm) {
            position: absolute;
            top: 0;
            right: 0;
        }

        @include from($sm) {
            display: inline;
        }
    }

    &__previews-list {
        @include to($sm) {
            display: none;
        }

        @include from($sm) {
            display: flex;
            gap: 5px;
        }
    }

    &__photo {
        background-position: center;
        background-size: cover;

        @include to($sm) { /////!!!!!
            width: 43px;
        }
        
        @include between($sm, $xl) {
            width: calc(43px * 0.75);
        }
        
        @include from($xl) {
            width: 43px;
        }

        &::before {
            content: "";
            display: block;
            width: 100%;
            padding-top: calc(100% / 43 * 57);
        }
    }

    &__products-counter {
        text-align: right;

        @include to($sm) {
            position: absolute;
            right: 0;
            top: 64px;
            font-size: 14px;
        }

        @include from($sm) {
            font-size: 12px;
            margin-top: 14px;
        }
    }

    &__price {
        font-size: 16px;
        font-weight: 600;

        @include to($sm) {
            position: absolute;
            right: 0;
            top: 32px;
        }

        @include from($sm) {
            margin-bottom: 8px;
        }
    }

    &__footer {
        @include to($sm) {
            margin-right: -50px;
        }

        @include from($sm) {

        }
    }

    &__products-list {
        @include to($sm) {
            display: none;
            margin-top: 32px;
        }
        
        @include from($sm) {
            display: none;
        }
    }

    @include to($sm) {
        &_opened &__products-list {
            display: block;
        }
    }

    &__product-item {
        @include to($sm) {
            & + & {
                margin-top: 50px;
            }
        }
        
        @include from($sm) {
            display: none;
        }
    }
}