.social-links {

    &__list {
        display: flex;
    }

    &__item {

    }

    &__link {
        display: block;
        text-decoration: none;
    }

    &__icon {
        mask-repeat: no-repeat;
        mask-position: center;
        background: $dark;

        &:hover {
            background-color: $blue;
        }
        
        &_telegram {
            mask-image: url(../images/icon-social-telegram.svg);
            mask-size: 40%;
        }

        &_vk {
            mask-image: url(../images/icon-social-vk.svg);
            mask-size: 50%;
        }
    
        &_instagram {
            mask-image: url(../images/icon-social-instagram.svg);
            mask-size: 40%;
        }


        @include to($sm) {
            width: 60px;
            height: 60px;
        }

        @include between($sm, $xl) {
            width: calc(60px * 0.75);
            height: calc(60px * 0.75);
        }

        @include from($xl) {
            width: 60px;
            height: 60px;
        }
    }
}