$dark: #383836;
$white: white;
$lightgray: #c5c5c5;
$lightgrey: $lightgray;
$beige: #ded9cf;

$red: #c3473f;
$blue: #5c68ae;

$base_font: 'Aeroport', 'Arial', sans-serif;

$xxs: 320px;
$xs: 375px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1440px;
$xxl: 1600px;