<div class="help-form">
    <div class="help-form__subtitle">Не нашли ответ?</div>
    <div class="help-form__title">Задайте нам вопрос</div>
    <form class="help-form__form">
        <fieldset class="help-form__fieldset">
            <input type="text" class="help-form__input input" placeholder="Ваше имя" />
        </fieldset>
        <fieldset class="help-form__fieldset">
            <input type="text" class="help-form__input input" placeholder="+7 ___ ___-__-__" />
        </fieldset>
        <fieldset class="help-form__fieldset">
            <input type="text" class="help-form__input input" placeholder="Email" />
        </fieldset>
        <fieldset class="help-form__fieldset">
            <textarea class="help-form__textarea textarea" placeholder="Ваш вопрос"></textarea>
        </fieldset>
        <div class="help-form__footer">
            <input type="submit" class="help-form__button button button_caps button_dark" value="Отправить" />
        </div>
    </form>
</div>