<aside class="checkout-aside">
    <div class="checkout-aside__box">
        <div class="checkout-aside__title hide hide_on-xxs hide_on-xs">Ваш заказ</div>
        <div class="checkout-aside__row hide_on-xxs hide_on-xs">
            <div class="checkout-aside__column">Товары 3 шт.</div>
            <div class="checkout-aside__column">
                <span class="price price_rub">28 980</span>
            </div>
        </div>
        <div class="checkout-aside__row hide hide_on-sm hide_on-md hide_on-lg hide_on-xl hide_on-xxl">
            <div class="checkout-aside__column">
                <div class="checkout-aside__title">Ваш заказ</div>
            </div>
            <div class="checkout-aside__column">Товары 3 шт.</div>
            <div class="checkout-aside__column">
                <span class="price price_rub">28 980</span>
            </div>
        </div>
        <div class="checkout-aside__row">
            <div class="checkout-aside__column">Скидка</div>
            <div class="checkout-aside__column">
                <span class="price price_rub">-1000</span>
            </div>
        </div>
        <div class="checkout-aside__row">
            <div class="checkout-aside__column">Доставка</div>
            <div class="checkout-aside__column">
                <span class="price price_rub">1000</span>
            </div>
        </div>
        <div class="checkout-aside__promocode">
            <!--=include promocode.html -->
        </div>
        <div class="checkout-aside__loyal">
            <!--=include loyal-programm.html -->
        </div>
        <div class="checkout-aside__row checkout-aside__row_summary">
            <div class="checkout-aside__column">Итого</div>
            <div class="checkout-aside__column">
                <span class="price price_rub">28 980</span>
            </div>
        </div>
        <div class="checkout-aside__footer">
            <div class="checkout-aside__button-wrapper checkout-aside__button-wrapper_return">
                <button class="checkout-aside__button button button_transparent">Продолжить покупки</button>
            </div>
            <div class="checkout-aside__button-wrapper checkout-aside__button-wrapper_submit">
                <button class="checkout-aside__button checkout-aside__button_return button button_beige hide hide_on-sm hide_on-md hide_on-lg hide_on-xl hide_on-xxl">Оформить заказ</button>
                <button class="checkout-aside__button checkout-aside__button_submit button button_blue hide hide_on-xxs hide_on-xs">Оформить заказ</button>
            </div>
        </div>
    </div>
    <div class="checkout-aside__disclaimer">
        Оформляя заказ, Вы соглашаетесь с <a href="#">условиями оферты</a>, <a href="#">программы лояльности</a> и <a href="#">политикой конфиденциальности</a>
    </div>
</aside>