<div class="checkout-form">
    <form class="checkout-form__form">
        <div class="checkout-form__section">
            <div class="checkout-form__aside-button">
                <a href="#" class="checkout-form__button checkout-form__button_auth">Войти</a>
            </div>
            <div class="checkout-form__subtitle">Данные получателя</div>
            <div class="checkout-form__row">
                <div class="checkout-form__column">
                    <input class="input" typ="text" placeholder="Ваше имя" />
                </div>
                <div class="checkout-form__column">
                    <input class="input" typ="text" placeholder="+7 ___ ___-__-__" />
                </div>
                <div class="checkout-form__column">
                    <input class="input" typ="text" placeholder="Email" />
                </div>
            </div>
        </div>
        <div class="checkout-form__section">
            <div class="checkout-form__subtitle">Населённый пункт</div>
            <div class="checkout-form__row">
                <div class="checkout-form__column">
                    <input class="input" typ="text" placeholder="Ваш город" />
                </div>
            </div>
        </div>
        <div class="checkout-form__section">
            <div class="checkout-form__subtitle">Способ доставки</div>
            <div class="checkout-form__box">
                <div class="cards-check-list">
                    <div class="cards-check-list__list">
                        <div class="cards-check-list__item">
                            <label class="card-checkbox">
                                <input class="card-checkbox__input" type="radio" name="delivery-type" value="cdek">
                                <div class="card-checkbox__card">
                                    <div class="card-checkbox__title">CDEK курьерская доставка</div>
                                    <div class="card-checkbox__description">от 200₽ (2-4дня)</div>
                                </div>
                            </label>
                        </div>
                        <div class="cards-check-list__item">
                            <label class="card-checkbox">
                                <input class="card-checkbox__input" type="radio" name="delivery-type" value="russianpost">
                                <div class="card-checkbox__card">
                                    <div class="card-checkbox__title">Почта России</div>
                                    <div class="card-checkbox__description">от 200₽ (2-4дня)</div>
                                </div>
                            </label>
                        </div>
                        <div class="cards-check-list__item">
                            <label class="card-checkbox">
                                <input class="card-checkbox__input" type="radio" name="delivery-type" value="stock">
                                <div class="card-checkbox__card">
                                    <div class="card-checkbox__title">Самовывоз</div>
                                    <div class="card-checkbox__description">от 200₽ (2-4дня)</div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-form__section">
            <div class="checkout-form__subtitle">Способы оплаты</div>
            <div class="checkout-form__box">
                <div class="cards-check-list">
                    <div class="cards-check-list__list">
                        <div class="cards-check-list__item">
                            <label class="card-checkbox">
                                <input class="card-checkbox__input" type="radio" name="payment-method" value="cash">
                                <div class="card-checkbox__card">
                                    <div class="card-checkbox__title">При получении</div>
                                    <div class="card-checkbox__description">Наличными или картой</div>
                                </div>
                            </label>
                        </div>
                        <div class="cards-check-list__item">
                            <label class="card-checkbox">
                                <input class="card-checkbox__input" type="radio" name="payment-method" value="card">
                                <div class="card-checkbox__card">
                                    <div class="card-checkbox__title">Онлайн оплата</div>
                                    <div class="card-checkbox__description">МИР, Visa, Master Card, Yandex Pay</div>
                                </div>
                            </label>
                        </div>
                        <div class="cards-check-list__item">
                            <label class="card-checkbox">
                                <input class="card-checkbox__input" type="radio" name="payment-method" value="sbp">
                                <div class="card-checkbox__card">
                                    <div class="card-checkbox__title">СБП</div>
                                    <div class="card-checkbox__description">Система Быстрых Платежей</div>
                                </div>
                            </label>
                        </div>
                        <div class="cards-check-list__item">
                            <label class="card-checkbox">
                                <input class="card-checkbox__input" type="radio" name="payment-method" value="podeli">
                                <div class="card-checkbox__card">
                                    <div class="card-checkbox__title">ПОДЕЛИ</div>
                                    <div class="card-checkbox__description">Система рассрочки</div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>