<div class="products-checkout-list">
    <div class="products-checkout-list__header">
        <button class="products-checkout-list__button products-checkout-list__button_check-all js-checkout-check-all">Выделить все</button>
        <button class="products-checkout-list__button products-checkout-list__button_share icon-button icon-button_share icon-button_beige"></button>
        <button class="products-checkout-list__button products-checkout-list__button_remove-checked js-remove-checked" data-delete-url="/">Удалить выбранное</button>
    </div>
    <div class="products-checkout-list__list">
        <div class="products-checkout-list__item">
            <!--=include ../product/preview-row.html -->
        </div>
        <div class="products-checkout-list__item">
            <!--=include ../product/preview-row.html -->
        </div>
        <div class="products-checkout-list__item">
            <!--=include ../product/preview-row.html -->
        </div>
    </div>
</div>