<div class="product-description">
    <div class="product-description__meta-row">
        <div class="product-description__labels sticky-labels">
            <div class="sticky-labels__label sticky-labels__label_red">-10%</div>
        </div>
        <div class="product-description__aside-buttons">
            <div class="product-description__icon-button">
                <button class="icon-button icon-button_beige icon-button_share"></button>
            </div>
            <div class="product-description__icon-button">
                <button class="icon-button icon-button_beige icon-button_bookmark"></button>
            </div>
        </div>
    </div>
    <div class="product-description__brand">New Balance</div>
    <h1 class="product-description__title">Кроссовки женские 997</h1>
    <div class="product-description__id">арт. 6852456896</div>
    <div class="product-description__colors-row">
        <div class="product-color-variants">
            <div class="product-color-variants__row">
                <div class="product-color-variants__item product-color-variants__item_active">
                    <a href="" class="product-color-variants__link">
                        <div class="product-color-variants__image" style="background-image: url()"></div>
                    </a>
                </div>
                <div class="product-color-variants__item">
                    <a href="" class="product-color-variants__link">
                        <div class="product-color-variants__image" style="background-image: url()"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-description__sizes-row">
        <div class="product-description__sizes-subtitle">Размеры</div>
        <div class="product-description__sizes-inline-check-list">
            <div class="inline-check-list">
                <div class="inline-check-list__list">
                    <label class="inline-check-list__item">
                        <div class="inline-checkbox">
                            <input class="inline-checkbox__input" type="radio" name="product-size-country" value="EU">
                            <div class="inline-checkbox__title">EU</div>
                        </div>
                    </label>
                    <label class="inline-check-list__item">
                        <div class="inline-checkbox">
                            <input class="inline-checkbox__input" type="radio" name="product-size-country" value="US">
                            <div class="inline-checkbox__title">US</div>
                        </div>
                    </label>
                    <label class="inline-check-list__item">
                        <div class="inline-checkbox">
                            <input class="inline-checkbox__input" type="radio" name="product-size-country" value="RUS">
                            <div class="inline-checkbox__title">RUS</div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <a href="#" class="product-description__sizes-table-link">Таблица размеров</a>
    </div>
    <div class="product-description__sizes-inline-check-list">
        <!--=include ../inline-check-list.html -->
    </div>
    <div class="product-description__prices-wrapper">
        <div class="product-description__price product-description__price_actual price price_rub">5 599</div>
        <div class="product-description__price product-description__price_linethrough price price_rub">6 699</div>
    </div>
    <div class="product-description__purchase-buttons">
        <button class="product-description__button button button_caps button_beige">В корзину</button>
        <button class="product-description__button button button_caps button_linear">Купить в 1 клик</button>
    </div>
    <div class="product-description__faq">
        <!--=include ../faq.html -->
    </div>
    <div class="product-description__footer">
        <div class="product-description__foot-line">
            <a href="#" class="product-description__foot-link">Информация о доставке</a>
        </div>
        <div class="product-description__foot-line">
            <a href="#" class="product-description__foot-link">Программа лояльности</a>
        </div>
        <div class="product-description__foot-line">
            <a href="#" class="product-description__foot-link">Помощь</a>
        </div>
    </div>
</div>