<div class="product-gallery">
    <div class="product-gallery__wrapper">
        <div class="product-gallery__item">
            <div class="product-gallery__photo product-gallery__photo_4x3" style="background-image: url(https://a.lmcdn.ru/product/R/T/RTLADP482301_24358559_1_v1.jpg)"></div>
        </div>
        <div class="product-gallery__item">
            <div class="product-gallery__photo product-gallery__photo_4x3" style="background-image: url(https://a.lmcdn.ru/product/R/T/RTLADP482301_24358560_2_v1.jpg)"></div>
        </div>
        <div class="product-gallery__item">
            <div class="product-gallery__photo product-gallery__photo_4x3" style="background-image: url(https://a.lmcdn.ru/product/R/T/RTLADP482301_24358561_3_v1.jpg)"></div>
        </div>
        <div class="product-gallery__item">
            <div class="product-gallery__photo product-gallery__photo_4x3" style="background-image: url(https://a.lmcdn.ru/product/R/T/RTLADP482301_24358562_4_v1.jpg)"></div>
        </div>
    </div>
</div>