<div class="product-page-size-modal js-product-page-size-modal">
    <div class="product-page-size-modal__underlay js-product-size-modal-toggler"></div>
    <div class="product-page-size-modal__modal">
        <div class="product-page-size-modal__inner">
            <form class="product-page-size-modal__form">
                <div class="product-page-size-modal__header">
                    <a href="#" class="product-page-size-modal__sizes-table-link">Таблица размеров</a>
                    <div class="product-page-size-modal__title">Фильтр</div>
                    <div class="product-page-size-modal__size-toggler">
                        <div class="inline-check-list">
                            <div class="inline-check-list__list">
                                <label class="inline-check-list__item">
                                    <div class="inline-checkbox">
                                        <input class="inline-checkbox__input" type="radio" name="product-size-country" value="EU" checked>
                                        <div class="inline-checkbox__title">EU</div>
                                    </div>
                                </label>
                                <label class="inline-check-list__item">
                                    <div class="inline-checkbox">
                                        <input class="inline-checkbox__input" type="radio" name="product-size-country" value="US">
                                        <div class="inline-checkbox__title">US</div>
                                    </div>
                                </label>
                                <label class="inline-check-list__item">
                                    <div class="inline-checkbox">
                                        <input class="inline-checkbox__input" type="radio" name="product-size-country" value="RUS">
                                        <div class="inline-checkbox__title">RUS</div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-page-size-modal__body">
                    <div class="product-page-size-modal__list">
                        <div class="product-page-size-modal__item js-product-size-variant" data-value="35">
                            35
                        </div>
                        <div class="product-page-size-modal__item product-page-size-modal__item_disabled js-product-size-variant" data-value="36">
                            36
                        </div>
                        <div class="product-page-size-modal__item product-page-size-modal__item_disabled js-product-size-variant" data-value="37">
                            37
                        </div>
                        <div class="product-page-size-modal__item js-product-size-variant" data-value="38">
                            38
                        </div>
                        <div class="product-page-size-modal__item js-product-size-variant" data-value="39">
                            39
                        </div>
                        <div class="product-page-size-modal__item js-product-size-variant" data-value="40">
                            40
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>