<div class="product-sticky-purchase-buttons">
    <div class="product-sticky-purchase-buttons__row">
        <div class="product-sticky-purchase-buttons__column product-sticky-purchase-buttons__column_size">
            <div class="product-sticky-purchase-buttons__size js-product-size-modal-toggler js-product-size-value">37</div>
        </div>
        <div class="product-sticky-purchase-buttons__column product-sticky-purchase-buttons__column_price">
            <div class="product-sticky-purchase-buttons__prices-wrapper">
                <div class="product-sticky-purchase-buttons__price product-sticky-purchase-buttons__price_linethrough price price_rub">12 900</div>
                <div class="product-sticky-purchase-buttons__price product-sticky-purchase-buttons__price_actual price price_rub">15 900</div>
            </div>
        </div>
    </div>
    <div class="product-sticky-purchase-buttons__row">
        <div class="product-sticky-purchase-buttons__column product-sticky-purchase-buttons__column_basket">
            <div class="product-sticky-purchase-buttons__basket">
                <form class="product-sticky-purchase-buttons__basket-form" method="post">
                    <input type="hidden" class="js-product-checked-size-input" name="size" />
                    <button type="submit" class="product-description__button button button_beige">В корзину</button>
                </form>
            </div>
        </div>
        <div class="product-sticky-purchase-buttons__column product-sticky-purchase-buttons__column_checkout">
            <div class="product-sticky-purchase-buttons__checkout">
                <button class="product-description__button button button_linear">Купить в 1 клик</button>
            </div>
        </div>
    </div>
</div>