<div class="brands-list">
    <div class="brands-list__row">
        <a href="catalog.html" class="brands-list__brand">
            <div class="brands-list__logo" style="background-image: url(/images/brands/adidas.png)"></div>
        </a>
        <a href="catalog.html" class="brands-list__brand">
            <div class="brands-list__logo" style="background-image: url(/images/brands/armani.png)"></div>
        </a>
        <a href="catalog.html" class="brands-list__brand">
            <div class="brands-list__logo" style="background-image: url(/images/brands/asics.png)"></div>
        </a>
        <a href="catalog.html" class="brands-list__brand">
            <div class="brands-list__logo" style="background-image: url(/images/brands/bikkembergs.png)"></div>
        </a>
        <a href="catalog.html" class="brands-list__brand">
            <div class="brands-list__logo" style="background-image: url(/images/brands/bottega.png)"></div>
        </a>
        <a href="catalog.html" class="brands-list__brand">
            <div class="brands-list__logo" style="background-image: url(/images/brands/bulgari.png)"></div>
        </a>
        <a href="catalog.html" class="brands-list__brand">
            <div class="brands-list__logo" style="background-image: url(/images/brands/crocs.png)"></div>
        </a>
        <a href="catalog.html" class="brands-list__brand">
            <div class="brands-list__logo" style="background-image: url(/images/brands/mcqueen.png)"></div>
        </a>
        <a href="catalog.html" class="brands-list__brand">
            <div class="brands-list__logo" style="background-image: url(/images/brands/newbalance.png)"></div>
        </a>
        <a href="catalog.html" class="brands-list__brand">
            <div class="brands-list__logo" style="background-image: url(/images/brands/nike.png)"></div>
        </a>
        <a href="catalog.html" class="brands-list__brand">
            <div class="brands-list__logo" style="background-image: url(/images/brands/puma.png)"></div>
        </a>
    </div>
</div>