<div class="catagories-tiles">
    <div class="catagories-tiles__row">
        <div class="catagories-tiles__item">
            <div class="catagory-tile">
                <div class="catagory-tile__background" style="background-image: url(https://a.lmcdn.ru/bs2/3/54/m_768x858_10_rainy.jpg)"></div>
                <a href="catalog.html" class="catagory-tile__link"></a>
                <div class="catagory-tile__title">Верхняя одежда</div>
            </div>
        </div>
        <div class="catagories-tiles__item">
            <div class="catagory-tile">
                <div class="catagory-tile__background" style="background-image: url(https://a.lmcdn.ru/bs2/5/72/m_768x858_9_home.jpg)"></div>
                <a href="catalog.html" class="catagory-tile__link"></a>
                <div class="catagory-tile__title">Трикотаж</div>
            </div>
        </div>
        <div class="catagories-tiles__item">
            <div class="catagory-tile">
                <div class="catagory-tile__background" style="background-image: url(https://a.lmcdn.ru/bs2/9/36/m_768x858_8_trendy_colors.jpg)"></div>
                <a href="catalog.html" class="catagory-tile__link"></a>
                <div class="catagory-tile__title">Костюмы</div>
            </div>
        </div>
    </div>
</div>