<div class="home-discount-banner">
    <div class="home-discount-banner__content">
        <div class="home-discount-banner__title-row">
            <div class="home-discount-banner__percent">-15%</div>
            <div class="home-discount-banner__rule">на первую покупку<br/>новым клиентам</div>
        </div>
        <div class="home-discount-banner__description">Присоединяйтесь к OSNOVA и получите 15% скидку на вашу первую покупку!<br/>Зарегистрируйтесь на нашем сайте или в офлайн-магазине и наслаждайтесь стильной брендовой одеждой по еще более выгодной цене.</div>
    </div>
</div>