<div class="main-banner">
    <div class="main-banner__wrapper">
        <div class="main-banner__slide">
            <div class="main-banner__banner">
                <div class="main-banner__image main-banner__image_xxs" style="background-image: url(https://a.lmcdn.ru/bs2/3/55/m_1788x1122_ru_by.jpg)"></div>
                <div class="main-banner__image main-banner__image_xs" style="background-image: url(https://a.lmcdn.ru/bs2/3/55/m_1788x1122_ru_by.jpg)"></div>
                <div class="main-banner__image main-banner__image_sm" style="background-image: url(https://a.lmcdn.ru/bs2/3/55/m_1788x1122_ru_by.jpg)"></div>
                <div class="main-banner__image main-banner__image_md" style="background-image: url(https://a.lmcdn.ru/bs2/3/55/m_1788x1122_ru_by.jpg)"></div>
                <div class="main-banner__image main-banner__image_lg" style="background-image: url(https://a.lmcdn.ru/bs2/3/55/m_1788x1122_ru_by.jpg)"></div>
                <div class="main-banner__image main-banner__image_xl" style="background-image: url(https://a.lmcdn.ru/bs2/3/55/m_1788x1122_ru_by.jpg)"></div>
                <div class="main-banner__image main-banner__image_xxl" style="background-image: url(https://a.lmcdn.ru/bs2/3/55/m_1788x1122_ru_by.jpg)"></div>
            </div>
        </div>
        <div class="main-banner__slide">
            <div class="main-banner__banner">
                <div class="main-banner__image main-banner__image_xxs" style="background-image: url(https://a.lmcdn.ru/bs2/9/90/m_1788x1122_ru.jpg)"></div>
                <div class="main-banner__image main-banner__image_xs" style="background-image: url(https://a.lmcdn.ru/bs2/9/90/m_1788x1122_ru.jpg)"></div>
                <div class="main-banner__image main-banner__image_sm" style="background-image: url(https://a.lmcdn.ru/bs2/9/90/m_1788x1122_ru.jpg)"></div>
                <div class="main-banner__image main-banner__image_md" style="background-image: url(https://a.lmcdn.ru/bs2/9/90/m_1788x1122_ru.jpg)"></div>
                <div class="main-banner__image main-banner__image_lg" style="background-image: url(https://a.lmcdn.ru/bs2/9/90/m_1788x1122_ru.jpg)"></div>
                <div class="main-banner__image main-banner__image_xl" style="background-image: url(https://a.lmcdn.ru/bs2/9/90/m_1788x1122_ru.jpg)"></div>
                <div class="main-banner__image main-banner__image_xxl" style="background-image: url(https://a.lmcdn.ru/bs2/9/90/m_1788x1122_ru.jpg)"></div>
            </div>
        </div>
        <div class="main-banner__slide">
            <div class="main-banner__banner">
                <div class="main-banner__image main-banner__image_xxs" style="background-image: url(https://a.lmcdn.ru/bs2/4/77/m_1788x1122_ru_82f24808ec244dc58ace5eb87c8e3277.jpg)"></div>
                <div class="main-banner__image main-banner__image_xs" style="background-image: url(https://a.lmcdn.ru/bs2/4/77/m_1788x1122_ru_82f24808ec244dc58ace5eb87c8e3277.jpg)"></div>
                <div class="main-banner__image main-banner__image_sm" style="background-image: url(https://a.lmcdn.ru/bs2/4/77/m_1788x1122_ru_82f24808ec244dc58ace5eb87c8e3277.jpg)"></div>
                <div class="main-banner__image main-banner__image_md" style="background-image: url(https://a.lmcdn.ru/bs2/4/77/m_1788x1122_ru_82f24808ec244dc58ace5eb87c8e3277.jpg)"></div>
                <div class="main-banner__image main-banner__image_lg" style="background-image: url(https://a.lmcdn.ru/bs2/4/77/m_1788x1122_ru_82f24808ec244dc58ace5eb87c8e3277.jpg)"></div>
                <div class="main-banner__image main-banner__image_xl" style="background-image: url(https://a.lmcdn.ru/bs2/4/77/m_1788x1122_ru_82f24808ec244dc58ace5eb87c8e3277.jpg)"></div>
                <div class="main-banner__image main-banner__image_xxl" style="background-image: url(https://a.lmcdn.ru/bs2/4/77/m_1788x1122_ru_82f24808ec244dc58ace5eb87c8e3277.jpg)"></div>
            </div>
        </div>
        <div class="main-banner__slide">
            <div class="main-banner__banner">
                <div class="main-banner__image main-banner__image_xxs" style="background-image: url(https://a.lmcdn.ru/adv/banners/e863e1a0-6f93-46ea-8931-36ba1c7a33a7.jpg)"></div>
                <div class="main-banner__image main-banner__image_xs" style="background-image: url(https://a.lmcdn.ru/adv/banners/e863e1a0-6f93-46ea-8931-36ba1c7a33a7.jpg)"></div>
                <div class="main-banner__image main-banner__image_sm" style="background-image: url(https://a.lmcdn.ru/adv/banners/e863e1a0-6f93-46ea-8931-36ba1c7a33a7.jpg)"></div>
                <div class="main-banner__image main-banner__image_md" style="background-image: url(https://a.lmcdn.ru/adv/banners/e863e1a0-6f93-46ea-8931-36ba1c7a33a7.jpg)"></div>
                <div class="main-banner__image main-banner__image_lg" style="background-image: url(https://a.lmcdn.ru/adv/banners/e863e1a0-6f93-46ea-8931-36ba1c7a33a7.jpg)"></div>
                <div class="main-banner__image main-banner__image_xl" style="background-image: url(https://a.lmcdn.ru/adv/banners/e863e1a0-6f93-46ea-8931-36ba1c7a33a7.jpg)"></div>
                <div class="main-banner__image main-banner__image_xxl" style="background-image: url(https://a.lmcdn.ru/adv/banners/e863e1a0-6f93-46ea-8931-36ba1c7a33a7.jpg)"></div>
            </div>
        </div>
    </div>
</div>