<div class="home-sale-banner">
    <a href="#" class="home-sale-banner__link"></a>
    <div class="home-sale-banner__background" style="background-image: url(https://img4.dhresource.com/webp/m/0x0/f3/albu/jc/o/22/05d9ac16-4034-454b-94e1-1087064ab66e.jpg)"></div>
    <div class="home-sale-banner__row">
        <div class="home-sale-banner__title">
            Летний
            <span>SALE</span>
        </div>
        <div class="home-sale-banner__subtitle">
            Все товары<br/>со скидками
        </div>
    </div>
</div>