<div class="filter-fieldset">
    <div class="filter-fieldset__title">Цвет</div>
    <div class="filter-fieldset__checkbox-list">
        <div class="bricks-check-list">
            <div class="bricks-check-list__list">
                <!-- type="radio" можно заменить на type="checkbox" -->
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="colors-bricks-list" value="Красный">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__color-preview" style="background-color: red;"></div>
                            <div class="brick-checkbox__title">Красный</div>
                        </div>
                    </div>
                </label>
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="colors-bricks-list" value="Зелёный">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__color-preview" style="background-color: green;"></div>
                            <div class="brick-checkbox__title">Зелёный</div>
                        </div>
                    </div>
                </label>
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="colors-bricks-list" value="Синий">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__color-preview" style="background-color: blue;"></div>
                            <div class="brick-checkbox__title">Синий</div>
                        </div>
                    </div>
                </label>
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="colors-bricks-list" value="Желтый">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__color-preview" style="background-color: yellow;"></div>
                            <div class="brick-checkbox__title">Желтый</div>
                        </div>
                    </div>
                </label>
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="colors-bricks-list" value="Белый">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__color-preview" style="background-color: white;"></div>
                            <div class="brick-checkbox__title">Белый</div>
                        </div>
                    </div>
                </label>
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="colors-bricks-list" value="Черный">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__color-preview" style="background-color: black;"></div>
                            <div class="brick-checkbox__title">Черный</div>
                        </div>
                    </div>
                </label>
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="colors-bricks-list" value="Оранжевый">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__color-preview" style="background-color: orange;"></div>
                            <div class="brick-checkbox__title">Оранжевый</div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>