<div class="filter-fieldset">
    <div class="filter-fieldset__title">Цена</div>
    <div class="filter-fieldset__checkbox-list">
        <div class="bricks-check-list">
            <div class="bricks-check-list__list">
                <!-- Переделать на переиспользование кода из компонента bricks-check-list.html -->
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="season-bricks-list" value="1">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__title">Кожа</div>
                        </div>
                    </div>
                </label>
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="season-bricks-list" value="2">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__title">Замша</div>
                        </div>
                    </div>
                </label>
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="season-bricks-list" value="3">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__title">Текстиль</div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>