<div class="filter-fieldset js-filter-prices-range">
    <div class="filter-fieldset__title">Цена</div>
    <div class="filter-fieldset__price-range">
        <div class="filter-price-range js-filter-prices-range-widget" data-range-min="0" data-range-max="45000" data-step="50">
            <input type="hidden" class="js-range-min" value="100" />
            <input type="hidden" class="js-range-max" value="4500" />
        </div>
    </div>
    <div class="filter-fieldset__checkbox-list">
        <div class="bricks-check-list js-filter-price-range-radio">
            <div class="bricks-check-list__list">
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="filter-price-range-radio" data-value-min="1000" data-value-max="7000">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__title">1 000 - 7 000</div>
                        </div>
                    </div>
                </label>
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="filter-price-range-radio" data-value-min="7000" data-value-max="10000">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__title">7 000 - 10 000</div>
                        </div>
                    </div>
                </label>
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="filter-price-range-radio" data-value-min="10000" data-value-max="20000">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__title">10 000 - 20 000</div>
                        </div>
                    </div>
                </label>
                <label class="bricks-check-list__item">
                    <div class="brick-checkbox">
                        <input class="brick-checkbox__input" type="radio" name="filter-price-range-radio" data-value-min="20000" data-value-max="45000">
                        <div class="brick-checkbox__label">
                            <div class="brick-checkbox__title">20 000 - 45 000</div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>