<div class="header-dropdown">
    <div class="header-dropdown__wrapper wrapper">
        <div class="header-dropdown__row">
            <div class="header-dropdown__column header-dropdown__column_aside">
                <div class="header-dropdown__subtitle">Всё для женщин</div>
                <div class="header-dropdown__aside-menu">
                    <!--=include ../aside-menu.html -->
                </div>
            </div>
            <div class="header-dropdown__column header-dropdown__column_main">
                <div class="header-dropdown__main">
                    <div class="header-dropdown__menu-column">
                        <div class="header-dropdown__subtitle">Вся одежда</div>
                        <menu class="header-dropdown__main-menu">
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Верхняя одежда</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Трикотаж</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Рубашки</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Блузы</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Жилеты</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Комбинезоны</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Худи и Свитшоты</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Футболки</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Майки и топы</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Платья и туники</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Джинсы</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Брюки</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Юбки</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Шорты</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Белье</a>
                            </li>
                        </menu>
                    </div>
                    <div class="header-dropdown__menu-column">
                        <div class="header-dropdown__subtitle">Бренды</div>
                        <menu class="header-dropdown__main-menu">
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Nike</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Calvin Klein</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Adidas</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">New Balance</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">BOSS</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Guess</a>
                            </li>
                            <li class="header-dropdown__menu-item">
                                <a href="catalog.html" class="header-dropdown__menu-link">Paul&Shark</a>
                            </li>
                        </menu>
                    </div>
                </div>
            </div>
            <div class="header-dropdown__column header-dropdown__column_tile">
                <div class="header-dropdown__tile">
                    <div class="catagory-tile">
                        <div class="catagory-tile__background" style="background-image: url(https://a.lmcdn.ru/bs2/9/36/m_768x858_8_trendy_colors.jpg)"></div>
                        <a href="catalog.html" class="catagory-tile__link"></a>
                        <div class="catagory-tile__title catagory-tile__title_small">Новинки</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>