<div class="search-dropdown">
    <div class="search-dropdown__wrapper wrapper">
        <button type="button" class="search-dropdown__close icon-button icon-button_dark icon-button_cross"></button>
        <form class="search-dropdown__form">
            <input type="text" class="search-dropdown__input" placeholder="Поиск" />
            <button type="submit" class="search-dropdown__button button button_dark">Поиск</button>
        </form>
        <div class="search-dropdown__menu-row">
            <div class="search-dropdown__column search-dropdown__column_aside-menu">
                <div class="search-dropdown__subtitle">Популярные запросы</div>
                <div class="search-dropdown__menu">
                    <menu class="search-dropdown__menu">
                        <li class="search-dropdown__item">
                            <a class="search-dropdown__link" href="#">Кроссовки</a>
                        </li>
                        <li class="search-dropdown__item">
                            <a class="search-dropdown__link" href="#">Сумка</a>
                        </li>
                        <li class="search-dropdown__item">
                            <a class="search-dropdown__link" href="#">Куртка белая</a>
                        </li>
                    </menu>
                </div>
            </div>
            <div class="search-dropdown__column search-dropdown__column_main-menu">
                <div class="search-dropdown__subtitle">Популярные запросы</div>
                <div class="search-dropdown__menu">
                    <menu class="search-dropdown__menu search-dropdown__menu_two-columns">
                        <li class="search-dropdown__item">
                            <a class="search-dropdown__link" href="#">Кроссовки</a>
                        </li>
                        <li class="search-dropdown__item">
                            <a class="search-dropdown__link" href="#">Сумка</a>
                        </li>
                        <li class="search-dropdown__item">
                            <a class="search-dropdown__link" href="#">Куртка белая</a>
                        </li>
                        <li class="search-dropdown__item">
                            <a class="search-dropdown__link" href="#">Куртка белая</a>
                        </li>
                        <li class="search-dropdown__item">
                            <a class="search-dropdown__link" href="#">Кроссовки</a>
                        </li>
                        <li class="search-dropdown__item">
                            <a class="search-dropdown__link" href="#">Сумка</a>
                        </li>
                        <li class="search-dropdown__item">
                            <a class="search-dropdown__link" href="#">Куртка белая</a>
                        </li>
                    </menu>
                </div>
            </div>
        </div>
        <div class="search-dropdown__products-slider">
            <!--=include ../catalog/products-slider-widget.html -->
        </div>
    </div>
</div>