<div class="aside-menu">
    <menu class="aside-menu__menu">
        <li class="aside-menu__item">
            <a class="aside-menu__link" href="catalog.html">Одежда</a>
        </li>
        <li class="aside-menu__item">
            <a class="aside-menu__link" href="catalog.html">Обувь</a>
        </li>
        <li class="aside-menu__item">
            <a class="aside-menu__link" href="catalog.html">Аксессуары</a>
        </li>
        <li class="aside-menu__item">
            <a class="aside-menu__link" href="catalog.html">Новинки</a>
        </li>
        <li class="aside-menu__item">
            <a class="aside-menu__link aside-menu__link_red" href="catalog.html">Распродажа</a>
        </li>
    </menu>
    <div  class="aside-menu__footer">
        <div  class="aside-menu__foot-line">
            <a class="aside-menu__foot-link" href="#">Войти в личный кабинет</a>
        </div>
    </div>
</div>