<div class="breadcrumbs">
    <div class="breadcrumbs__wrapper wrapper">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Каталог</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Женщинам</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Кроссовки и кеды</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">New Balance</a>
            </li>
        </ul>
    </div>
</div>