<div class="bricks-check-list">
    <div class="bricks-check-list__list">
        <!-- type="radio" можно заменить на type="checkbox" -->
        <label class="bricks-check-list__item">
            <div class="brick-checkbox">
                <input class="brick-checkbox__input" type="radio" name="season-bricks-list" value="Лето">
                <div class="brick-checkbox__label">
                    <div class="brick-checkbox__title">Лето</div>
                </div>
            </div>
        </label>
        <label class="bricks-check-list__item">
            <div class="brick-checkbox">
                <input class="brick-checkbox__input" type="radio" name="season-bricks-list" value="Зима">
                <div class="brick-checkbox__label">
                    <div class="brick-checkbox__title">Зима</div>
                </div>
            </div>
        </label>
        <label class="bricks-check-list__item">
            <div class="brick-checkbox">
                <input class="brick-checkbox__input" type="radio" name="season-bricks-list" value="Весна/осень">
                <div class="brick-checkbox__label">
                    <div class="brick-checkbox__title">Весна/осень</div>
                </div>
            </div>
        </label>
    </div>
</div>