<!--

На момент создания вёрстки этот виджет используется в двух местах -
на странице товара и на странице FAQ-справки с помощью покупателям.

Их дизайн различается на мобилах - на странице товара линии разделяют
пункты списка от края до края центральной колонки; тогда как на странице
справки линии идут от края до края окна.

Я посчитал это важным нюансом, и решил сделать отдельный класс для
этого случая.

Класс faq-container_mobile-border-through делает так, чтобы линии шли
от края окна до края окна. Его нужно добавлять только на странице справки.
На странице товара у компонента используется только один класс .faq-container

-->

<div class="faq-container faq-container_mobile-border-through">
    <div class="faq-container__row">
        <div class="faq-container__question">Описание</div>
        <div class="faq-container__answer">Модель 997 — это классика повседневного стиля, которая будет актуальная с любым образом. Верх модели выполнен в сочетании натуральной замши и текстильных элементов и дополнен легкой промежуточной подошвой EVA, чтобы вы могли наслаждаться приятной мягкостью в течение всего дня.</div>
    </div>
    <div class="faq-container__row">
        <div class="faq-container__question">Особенности</div>
        <div class="faq-container__answer">Модель 997 — это классика повседневного стиля, которая будет актуальная с любым образом. Верх модели выполнен в сочетании натуральной замши и текстильных элементов и дополнен легкой промежуточной подошвой EVA, чтобы вы могли наслаждаться приятной мягкостью в течение всего дня.</div>
    </div>
    <div class="faq-container__row">
        <div class="faq-container__question">Состав</div>
        <div class="faq-container__answer">Модель 997 — это классика повседневного стиля, которая будет актуальная с любым образом. Верх модели выполнен в сочетании натуральной замши и текстильных элементов и дополнен легкой промежуточной подошвой EVA, чтобы вы могли наслаждаться приятной мягкостью в течение всего дня.</div>
    </div>
</div>