<!-- 
Заголовок может быть H1 или H2. Дополнительный класс
heading-row__title_smaller управляет размером шрифта
-->

<div class="heading-row">
    <!-- Выводится у подборок в личном кабинете -->
    <a href="#" class="heading-row__arrow-link">&rarr;</a>

    <!-- <h1 class="heading-row__title">LOOK BOOK</h1> -->
    <h2 class="heading-row__title heading-row__title_smaller">Заголовок блока</h2>
    <div class="heading-row__counter">15 товаров</div>

    <!-- Если нужно меню (например, наверху блога, LOOK BOOK, и тд): -->
    <div class="heading-row__tabs-menu">
        <!--=include ./tabs-menu.html -->
    </div>

    <div class="heading-row__aside">
        <!-- Если в каталоге или на главной: -->
        <!-- <a class="heading-row__link" href="">Смотреть все</a> -->

        <!-- Если в личном кабинете: -->
        <!-- <div class="heading-row__buttons">
            <button class="icon-button icon-button_squares icon-button_beige"></button>
            <button class="icon-button icon-button_pen icon-button_beige"></button>
            <button class="icon-button icon-button_trash icon-button_beige"></button>
        </div> -->
    </div>
</div>