<div class="inline-check-list">
    <div class="inline-check-list__list">
        <!-- type="radio" можно заменить на type="checkbox" -->
        <label class="inline-check-list__item">
            <div class="inline-checkbox">
                <input class="inline-checkbox__input" type="radio" name="product-1234-size" value="42" disabled>
                <div class="inline-checkbox__title">42</div>
            </div>
        </label>
        <label class="inline-check-list__item">
            <div class="inline-checkbox">
                <input class="inline-checkbox__input" type="radio" name="product-1234-size" value="44" disabled>
                <div class="inline-checkbox__title">44</div>
            </div>
        </label>
        <label class="inline-check-list__item">
            <div class="inline-checkbox">
                <input class="inline-checkbox__input" type="radio" name="product-1234-size" value="46">
                <div class="inline-checkbox__title">46</div>
            </div>
        </label>
        <label class="inline-check-list__item">
            <div class="inline-checkbox">
                <input class="inline-checkbox__input" type="radio" name="product-1234-size" value="48">
                <div class="inline-checkbox__title">48</div>
            </div>
        </label>
        <label class="inline-check-list__item">
            <div class="inline-checkbox">
                <input class="inline-checkbox__input" type="radio" name="product-1234-size" value="50">
                <div class="inline-checkbox__title">50</div>
            </div>
        </label>
        <label class="inline-check-list__item">
            <div class="inline-checkbox">
                <input class="inline-checkbox__input" type="radio" name="product-1234-size" value="52">
                <div class="inline-checkbox__title">52</div>
            </div>
        </label>
        <label class="inline-check-list__item">
            <div class="inline-checkbox">
                <input class="inline-checkbox__input" type="radio" name="product-1234-size" value="54">
                <div class="inline-checkbox__title">54</div>
            </div>
        </label>
        <label class="inline-check-list__item">
            <div class="inline-checkbox">
                <input class="inline-checkbox__input" type="radio" name="product-1234-size" value="56">
                <div class="inline-checkbox__title">56</div>
            </div>
        </label>
    </div>
</div>