<div class="inline-menu">
    <div class="inline-menu__item">
        <a href="#" class="inline-menu__link">Доставка</a>
    </div>
    <div class="inline-menu__item">
        <a href="#" class="inline-menu__link">Условия возврата</a>
    </div>
    <div class="inline-menu__item">
        <a href="#" class="inline-menu__link">Таблицы размеров</a>
    </div>
    <div class="inline-menu__item">
        <a href="#" class="inline-menu__link">Помощь</a>
    </div>
    <div class="inline-menu__item">
        <a href="#" class="inline-menu__link">Часто задаваемые вопросы</a>
    </div>
    <div class="inline-menu__item">
        <a href="#" class="inline-menu__link">Публичный договор оферта</a>
    </div>
    <div class="inline-menu__item">
        <a href="#" class="inline-menu__link">Политика конфиденциальности</a>
    </div>
</div>