<div class="pagination">
    <div class="pagination__row">
        <a href="#" class="pagination__button pagination__button_to-start"></a>
        <a href="#" class="pagination__button pagination__button_to-previous"></a>
        <div class="pagination__pages">
            <a href="#" class="pagination__page">3</a>
            <a href="#" class="pagination__page">4</a>
            <a href="#" class="pagination__page pagination__page_active">5</a>
            <a href="#" class="pagination__page">6</a>
            <a href="#" class="pagination__page">7</a>
        </div>
        <a href="#" class="pagination__button pagination__button_to-next"></a>
        <a href="#" class="pagination__button pagination__button_to-end"></a>
    </div>
</div>