<div class="address-modal">
    <div class="address-modal__underlay js-address-modal-close"></div>
    <div class="address-modal__modal">
        <div class="address-modal__inner">
            <div class="address-modal__title">Новый адрес</div>
            <div class="address-modal__close js-address-modal-close"></div>
            <form class="address-modal__form">
                <input class="address-modal__input input input_large" name="address-id" type="hidden" />
                <div class="address-modal__row">
                    <fieldset class="address-modal__fieldset">
                        <input class="address-modal__input input input_large" placeholder="Город" name="city" type="text" />
                    </fieldset>
                </div>
                <div class="address-modal__row">
                    <fieldset class="address-modal__fieldset">
                        <input class="address-modal__input input input_large" placeholder="Адрес: улица, дома" name="street" type="text" />
                    </fieldset>
                </div>
                <div class="address-modal__row">
                    <fieldset class="address-modal__fieldset">
                        <input class="address-modal__input input input_large" placeholder="Кв/офис" name="flat" type="text" />
                    </fieldset>
                    <fieldset class="address-modal__fieldset">
                        <input class="address-modal__input input input_large" placeholder="Подъезд" name="section" type="text" />
                    </fieldset>
                    <fieldset class="address-modal__fieldset">
                        <input class="address-modal__input input input_large" placeholder="Этаж" name="floor" type="text" />
                    </fieldset>
                </div>
                <div class="address-modal__row">
                    <fieldset class="address-modal__fieldset">
                        <input class="address-modal__input input input_large" placeholder="Комментарий" name="comment" type="text" />
                    </fieldset>
                </div>
                <div class="address-modal__footer">
                    <input value="Добавить адрес" class="address-modal__button button button_caps button_dark" />
                </div>
            </form>
        </div>
    </div>
</div>