<div class="addresses-widget">
    <div class="addresses-widget__list">
        <div class="addresses-widget__item">
            <div class="addresses-widget__name">г. Санкт-Петербург, улица Пушкина, дом 1</div>
            <div class="addresses-widget__buttons-row">
                <button class="addresses-widget__button icon-button icon-button_dark icon-button_squares js-address-modal-button"></button>
                <button class="addresses-widget__button icon-button icon-button_dark icon-button_pen js-address-modal-button" data-address-id="1234" data-city="Санкт-Петебург" data-street="Пушкина" data-flat="1" data-section="1" data-floor="1" data-comment="фыфывафыва"></button>
                <button class="addresses-widget__button icon-button icon-button_dark icon-button_trash js-address-modal-button"></button>
            </div>
        </div>
        <div class="addresses-widget__item">
            <div class="addresses-widget__name">г. Москва, улица Гоголя, дом 5</div>
            <div class="addresses-widget__buttons-row">
                <button class="addresses-widget__button icon-button icon-button_dark icon-button_squares js-address-modal-button"></button>
                <button class="addresses-widget__button icon-button icon-button_dark icon-button_pen js-address-modal-button" data-address-id="4321" data-city="Москва" data-street="Гоголя" data-flat="5" data-section="5" data-floor="1" data-comment=""></button>
                <button class="addresses-widget__button icon-button icon-button_dark icon-button_trash js-address-modal-button"></button>
            </div>
        </div>
    </div>
    <div class="addresses-widget__footer">
        <button class="addresses-widget__add js-address-modal-button">Добавить адрес</button>
    </div>
</div>