<div class="dashboard-head-filter">
    <div class="dashboard-head-filter__row">
        <div class="dashboard-head-filter__column dashboard-head-filter__column_subtitle">
            <div class="dashboard-head-filter__subtitle">Мои списки</div>
        </div>
        <div class="dashboard-head-filter__column dashboard-head-filter__column_search">
            <input type="text" class="dashboard-head-filter__search" placeholder="Поиск по Избранному" />
        </div>
        <div class="dashboard-head-filter__column dashboard-head-filter__column_search-mobile">
            <button class="dashboard-head-filter__button dashboard-head-filter__button_search"></button>
        </div>
        <div class="dashboard-head-filter__column dashboard-head-filter__column_filter">
            <!--=include ../catalog/filter-button.html -->
        </div>
        <div class="dashboard-head-filter__column dashboard-head-filter__column_order-by">
            <!--=include ../catalog/order-by.html -->
        </div>
    </div>
</div>