<div class="orders-list">
    <div class="orders-list__item">
        <!--=include ./order-preview-row.html -->
    </div>
    <div class="orders-list__item">
        <!--=include ./order-preview-row.html -->
    </div>
    <div class="orders-list__item">
        <!--=include ./order-preview-row.html -->
    </div>
    <div class="orders-list__item">
        <!--=include ./order-preview-row.html -->
    </div>
    <div class="orders-list__item">
        <!--=include ./order-preview-row.html -->
    </div>
</div>