<div class="order-details">
    <div class="order-details__header">
        <div class="order-details__column">
            <div class="order-details__head-line">
                <div class="order-details__status order-details__status_red"></div>
                <!-- <div class="order-details__status order-details__status_green"></div> -->
                <!-- <div class="order-details__status order-details__status_dark"></div> -->
                <div class="order-details__title">Ожидает оплаты</div>
            </div>
            <div class="order-details__date">от 1 сентября 2022</div>
        </div>
        <div class="order-details__column">
            <div class="order-details__number">8763425283</div>
            <div class="order-details__number-subtitle">Номер заказа</div>
        </div>
    </div>
    <div class="order-details__progress">
        <div class="progress-widget">
            <div class="progress-widget__handler">
                <div class="progress-widget__handler-value" style="width: 5%;"></div>
            </div>
            <div class="progress-widget__row">
                <div class="progress-widget__item progress-widget__item_active">
                    <div class="progress-widget__point"></div>
                    <div class="progress-widget__title">Ожидает оплаты</div>
                </div>
                <div class="progress-widget__item">
                    <div class="progress-widget__point"></div>
                    <div class="progress-widget__title">Подтверждён</div>
                </div>
                <div class="progress-widget__item">
                    <div class="progress-widget__point"></div>
                    <div class="progress-widget__title">Собран</div>
                </div>
                <div class="progress-widget__item">
                    <div class="progress-widget__title">Передан в доставку</div>
                </div>
                <div class="progress-widget__item">
                    <div class="progress-widget__point"></div>
                    <div class="progress-widget__title">Получен</div>
                </div>
            </div>
        </div>
    </div>
    <div class="order-details__products-list">
        <div class="order-details__product">
            <!--=include ../product/preview-row.html -->
        </div>
        <div class="order-details__product">
            <!--=include ../product/preview-row.html -->
        </div>
    </div>
    <div class="order-details__info">
        <div class="order-details__section">
            <div class="order-details__section-header">
                <div class="order-details__subtitle">Получатель</div>
            </div>
            <div class="order-details__content">
                <div class="order-details__line">Иван Петров</div>
                <div class="order-details__line">asdf@mail.ru</div>
                <div class="order-details__line">+7 900 000-00-00</div>
            </div>
        </div>
        <div class="order-details__section">
            <div class="order-details__section-header">
                <div class="order-details__subtitle">Курьер СДЭК</div>
                <div class="order-details__date">1 сентября 2022</div>
            </div>
            <div class="order-details__content">
                <div class="order-details__line">Санкт-Петербург, Пушкина 1</div>
            </div>
        </div>
        <div class="order-details__section">
            <div class="order-details__section-header">
                <div class="order-details__subtitle">Онлайн оплата</div>
            </div>
            <div class="order-details__content">
                <div class="order-details__line">Оплачен</div>
            </div>
        </div>
    </div>
    <div class="order-details__summary">
        <div class="order-details__summary-row">
            <div class="order-details__column">Товары 1 шт</div>
            <div class="order-details__column price price_rub">7 200</div>
        </div>
        <div class="order-details__summary-row">
            <div class="order-details__column">Скидка</div>
            <div class="order-details__column price price_rub">-500</div>
        </div>
        <div class="order-details__summary-row">
            <div class="order-details__column">Доставка</div>
            <div class="order-details__column price price_rub">100</div>
        </div>
        <div class="order-details__summary-row order-details__summary-row_large">
            <div class="order-details__column">Итого</div>
            <div class="order-details__column price price_rub">7 300</div>
        </div>
    </div>
    <div class="order-details__footer">
        <a href="#" class="order-details__cancel-link">Отменить заказ</a>
    </div>
</div>