<div class="order-preview-row">
    <div class="order-preview-row__row">
        <div class="order-preview-row__column order-preview-row__column_info">
            <div class="order-preview-row__head-line">
                <div class="order-preview-row__status order-preview-row__status_red"></div>
                <!-- <div class="order-preview-row__status order-preview-row__status_green"></div> -->
                <!-- <div class="order-preview-row__status order-preview-row__status_dark"></div> -->
                <div class="order-preview-row__title">Ожидает оплаты</div>
            </div>
            <div class="order-preview-row__info-line"><span>123487627</span> от 13 августа 2014</div>
            <div class="order-preview-row__info-line"><span>Курьером СДЭК</span> 17 августа 2014</div>
            <div class="order-preview-row__info-line">Онлайн-оплата</div>
            <div class="order-preview-row__price price price_rub">19 900</div>
            <div class="order-preview-row__footer">
                <button class="order-preview-row__button button button_dark">Оплатить</button>
            </div>
        </div>
        <div class="order-preview-row__column order-preview-row__column_products">
            <div class="order-preview-row__previews-list">
                <a href="#" class="order-preview-row__photo" style="background-image: url(https://a.lmcdn.ru/resize/cms/600x866/get_the_look/gallery_images/IMG_0828_102024_2.jpg);"></a>
                <a href="#" class="order-preview-row__photo" style="background-image: url(https://a.lmcdn.ru/product/R/T/RTLADP482301_24358559_1_v1.jpg);"></a>
            </div>
            <div class="order-preview-row__products-counter">2 шт.</div>
        </div>
    </div>
</div>