<footer class="footer">
    <div class="footer__wrapper wrapper">
        <div class="footer__row">
            <div class="footer__column footer__column_subscribe">
                <!--=include subscribe-form.html -->
            </div>
            <div class="footer__column footer__column_main-menu">
                <div class="footer__subtitle">Покупателям</div>
                <div class="footer__menu">
                    <!--=include main-menu.html -->
                </div>
            </div>
            <div class="footer__column footer__column_aside-menu">
                <div class="footer__subtitle">OSNOVA</div>
                <div class="footer__menu">
                    <!--=include aside-menu.html -->
                </div>
            </div>
        </div>
        <div class="footer__row">
            <div class="footer__column footer__column_copyright">
                <div class="footer__copyright">2024 OSNOVA</div>
            </div>
            <div class="footer__column footer__column_social-links">
                <!--=include social.html -->
            </div>
        </div>
    </div>
</footer>

<script src="js/script.js"></script>