<div class="social-links">
    <div class="social-links__list">
        <div class="social-links__item">
            <a href="#" class="social-links__link">
                <div class="social-links__icon social-links__icon_telegram"></div>
            </a>
        </div>
        <div class="social-links__item">
            <a href="#" class="social-links__link">
                <div class="social-links__icon social-links__icon_vk"></div>
            </a>
        </div>
        <div class="social-links__item">
            <a href="#" class="social-links__link">
                <div class="social-links__icon social-links__icon_instagram"></div>
            </a>
        </div>
    </div>
</div>