<div class="blog-feed">
    <div class="blog-feed__row">
        <div class="blog-feed__item">
            <!--=include ./post-preview.html -->
        </div>
        <div class="blog-feed__item">
            <!--=include ./post-preview.html -->
        </div>
        <div class="blog-feed__item">
            <!--=include ./post-preview.html -->
        </div>
        <div class="blog-feed__item">
            <!--=include ./post-preview.html -->
        </div>
        <div class="blog-feed__item">
            <!--=include ./post-preview.html -->
        </div>
        <div class="blog-feed__item">
            <!--=include ./post-preview.html -->
        </div>
    </div>
</div>