<div class="blog-post-preview">
    <a href="#" class="blog-post-preview__link">
        <div class="blog-post-preview__thumbnail">
            <div class="blog-post-preview__image" style="background-image: url(https://a.lmcdn.ru/resize/cms/600x866/get_the_look/gallery_images/IMG_0873_102024_2.jpg)"></div>
        </div>
        <div class="blog-post-preview__footer">
            <div class="blog-post-preview__date">01.01.2020</div>
            <div class="blog-post-preview__subtitle">Как подобрать кроссовки для бега</div>
        </div>
    </a>
</div>