<div class="lookbook-preview-card">
    <a href="#" class="lookbook-preview-card__link">
        <div class="lookbook-preview-card__labels sticky-labels">
            <div class="sticky-labels__label sticky-labels__label_blue">ПОДБОРКА</div>
        </div>
        <div class="lookbook-preview-card__thumbnail">
            <div class="lookbook-preview-card__image" style="background-image: url(https://a.lmcdn.ru/resize/cms/600x866/get_the_look/gallery_images/IMG_0873_102024_2.jpg)"></div>
        </div>
        <div class="lookbook-preview-card__footer">
            <div class="lookbook-preview-card__subtitle">Яркие акценты</div>
        </div>
    </a>
</div>