<!--
Ширина стандартной плитки по умолчанию составляет
25% на десктопах и 50% на мобилах

Чтобы включить отображение широкой плитки, нужно
добавить класс .lookbook-cards-row__item_wide.
Плитка с таким классом будет занимать
50% на десктопах и 100% на мобилах

Соответственно один ряд по ширине можно заполнить
двумя стандартными плитками и одной широкой,
либо четырьмя стандартными, либо двумя широкими
в любой последовательности. Но желательно не ставить
широкую плитку посередине - в таком случае
на мобиле будет не красивый разрыв.
-->

<div class="lookbook-cards-row">
    <div class="lookbook-cards-row__item">
        <!--=include ./card.html -->
    </div>
    <div class="lookbook-cards-row__item">
        <!--=include ./card.html -->
    </div>
    <div class="lookbook-cards-row__item lookbook-cards-row__item_wide">
        <!--=include ./card.html -->
    </div>
</div>