<div class="contacts-page__subtitle">Юридическая информация:</div>
<div class="contacts-page__box">
    <p>ООО «ОРИГИНАЛЫ БРЕНДОВ»</p>
    <p>ОГРН: 1227800148410<br/>ИНН: 7806605043</p>
</div>
<div class="contacts-page__subtitle">Юридический адрес:</div>
<div class="contacts-page__box">
    <p>195279<br/>
    г. Санкт-Петербург<br/>
    вн.тер.муниципальный округ Ржевка,<br/>
    ш. Революции, д. 88 литера Ж, <br/>
    помещ. 24-Н, кабинет 417 офис 1 р/м 1</p>
</div>
<div class="contacts-page__subtitle">Фактический/почтовый адрес:</div>
<div class="contacts-page__box">
    <p>191015<br/>
    г. Санкт-Петербург, <br/>
    Шпалерная ул., 51, оф. 557</p>
</div>