<div class="contacts-page__subtitle">Связаться с нами:</div>
<div class="contacts-page__box">
    <div class="contacts-page__contact-box">
        <div class="contacts-page__contact-value">8(800)700-94-75</div>
        <div class="contacts-page__contact-description">(по России звонок бесплатный)</div>
    </div>
</div>
<div class="contacts-page__box">
    <div class="contacts-page__contact-box">
        <div class="contacts-page__contact-value">info@osnova-store.ru</div>
        <div class="contacts-page__contact-description">(вопросы и предложения)</div>
    </div>
</div>
<div class="contacts-page__box">
    <div class="contacts-page__social">
        <!--=include ../footer/social.html -->
    </div>
</div>